{% extends "base.html" %}
{% import '_form.html' as macros %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-sm-4 col-sm-offset-4 col-md-offset-4 col-lg-3 col-lg-offset-4">
            {% call macros.render_form(form, action_url=form_action, action_text='Submit',
                                        class_='form-horizontal') %}
                {% if not queue.text_only %}
                {{ macros.render_field(form.type, placeholder='Type') }}
                {% else %}
                <input type="hidden" name="type" value="message">
                {% endif %}
                {{ macros.render_field(form.message, placeholder='Message') }}
                {{ macros.render_field(form.url, placeholder='URL') }}
                {% if not queue.text_only %}
                {{ macros.render_field(form.display_time, placeholder='20') }}
                {% endif %}
                {{ macros.render_field(form.valid_since, type='datetime-local') }}
                {{ macros.render_field(form.valid_until, type='datetime-local') }}
                {{ macros.render_field(form.display_after, type='time') }}
                {{ macros.render_field(form.display_before, type='time') }}

            {% endcall %}
        </div>
    </div>
{% endblock content %}