<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="Krzysiu i Lorek">
        <!--<link rel="icon" href="../../favicon.ico"> -->

        <title>Putowce TV</title>

        <!-- Bootstrap-->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/css/client.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">PUTOWCE TV</a>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="starter-template">
                tudynks

            </div>

        </div><!-- /.container -->

        <footer class="footer navbar-inverse">
            <div>
                <div class="col-xs-2">                
                    <canvas id="clock"></canvas>
                    <script>
                        var context;
                        var d;
                        var str;
                        function getClock()
                        {

                            //Get Current Time
                            d = new Date();
                            str = prefixZero(d.getHours(), d.getMinutes(), d.getSeconds());

                            //Get the Context 2D or 3D
                            context = clock.getContext("2d");
                            context.clearRect(0, 0, 400, 200);
                            context.font = "70px Arial";
                            context.fillStyle = "grey";
                            context.fillText(str, 0, 125);

                        }

                        function prefixZero(hour, min, sec)
                        {
                            var curTime;
                            if(hour < 10)
                                curTime = "0"+hour.toString();
                            else
                                curTime = hour.toString(); 

                            if(min < 10)
                                curTime += ":0"+min.toString();                           
                            else
                                curTime += ":"+min.toString();  

                            if(sec < 10)
                                curTime += ":0"+sec.toString();                           
                            else
                                curTime += ":"+sec.toString();  
                            return curTime;
                        }

                        setInterval(getClock, 1000);
                    </script>
                </div>
                <div class="col-xs-10">
                    <div class="marquee"></div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/js/jquery-1.11.3.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/autobahn.min.js"></script>
        <script src="/static/js/jquery.marquee.min.js"></script>
        <script>
            $(function() {

                var connection = new autobahn.Connection({
                    url: "{{ conn_data.url }}",
                    realm: "{{ conn_data.realm }}"});

                connection.onopen = function (session) {

                    session.call('tv.putowce.retrieve').then(update);

                    function update(queues) {
                        queues.forEach(function(queue) {
                            switch (queue.name){
                                case 'messages':
                                    data = [];
                                    queue.items.forEach(function(item){
                                        data.push(item.message);
                                    });
                                    $('.marquee').html(data.join(" &bull; "))
                                    .marquee({duration: $(this).outerWidth()/0.2, gap: 100, duplicated: true});
                                    break;
                            }
                        });
                    }

                    function on_update(args) {
                        update(args[0]);
                    }

                    session.subscribe('tv.putowce.update', on_update);
                };

                connection.open();

            });
        </script>
    </body>
</html>
