<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="Krzysiu i Lorek">
        <!--<link rel="icon" href="../../favicon.ico"> -->

        <title>Putowce TV</title>

        <!-- Bootstrap-->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/css/carousel.css" rel="stylesheet">
        <link href="/static/css/client.css" rel="stylesheet">

    </head>

    <body>
        <div class="carousel">
            <!-- Indicators -->
            <div class="carousel-inner" role="listbox">

                <div class="item placeholder active" data-interval="0">
                    <img class="first-slide scale" data-scale="best-fit" data-align="center" src="http://www.inzynieriakreatywnosci.put.poznan.pl/images/logoPP.jpg" alt="First slide">    
                    <div class="container">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer navbar-inverse">
            <div>
                <div class="col-xs-2">                
                    <canvas id="clock"></canvas>
                    <script>
                        var context;
                        var d;
                        var str;
                        function getClock()
                        {

                            //Get Current Time
                            d = new Date();
                            str = prefixZero(d.getHours(), d.getMinutes(), d.getSeconds());

                            //Get the Context 2D or 3D
                            context = clock.getContext("2d");
                            context.clearRect(0, 0, 400, 200);
                            context.font = "70px Arial";
                            context.fillStyle = "grey";
                            context.fillText(str, 0, 125);

                        }

                        function prefixZero(hour, min, sec)
                        {
                            var curTime;
                            if(hour < 10)
                                curTime = "0"+hour.toString();
                            else
                                curTime = hour.toString(); 

                            if(min < 10)
                                curTime += ":0"+min.toString();                           
                            else
                                curTime += ":"+min.toString();  

                            if(sec < 10)
                                curTime += ":0"+sec.toString();                           
                            else
                                curTime += ":"+sec.toString();  
                            return curTime;
                        }

                        setInterval(getClock, 1000);
                    </script>
                </div>
                <div class="col-xs-10">
                    <div class="marquee"></div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/js/jquery-1.11.3.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/autobahn.min.js"></script>
        <script src="/static/js/jquery.marquee.min.js"></script>
        <script src="/static/js/image-scale.min.js"></script>
        <script>
            var main_queue = [];
            $(function() {
                $('img.scale').imageScale();
                var timeout;
                var connection = new autobahn.Connection({
                    url: "{{ conn_data.url }}",
                    realm: "{{ conn_data.realm }}"});

                connection.onopen = function (session) {

                    session.call('tv.putowce.retrieve').then(update);

                    function update(queues) {
                        queues.forEach(function(queue) {
                            switch (queue.name){
                                case 'messages':
                                    data = [];
                                    queue.items.forEach(function(item){
                                        data.push(item.message);
                                    });
                                    $('.marquee').html(data.join(" &bull; "))
                                        .marquee({duration: $(this).outerWidth()/0.2, gap: 100, duplicated: true});
                                    break;
                                case 'main_queue':
                                    clearTimeout(timeout);
                                    main_queue = [];
                                    $('.carousel .item:not(.placeholder)').remove();
                                    $('.carousel .item.placeholder').addClass('active');
                                    queue.items.forEach(function(item, index){
                                        main_queue.push(item);
                                        display_time = (item.display_time)*1000;
                                        tag = '<div class="item" data-interval="' + display_time + '" data-id="' + index + '" data-type="' + item.type + '">';
                                        switch(item.type){
                                            case 'image':
                                                tag += '<img class="second-slide scale" data-scale="best-fit" data-align="center" src=' + item.url +'>';
                                                break;
                                            case 'video':
                                                tag += '<video class="second-slide" loop><source src='+ item.url +'></div>';
                                                break;
                                            case 'website':
                                                tag += '<iframe class="second-slide" seamless="seamless" scrolling="no" src='+ item.url +'></iframe></div>';
                                                break; 
                                        }
                                        tag += '</div>';
                                        $('.carousel-inner').append(tag);
                                    });
                                    $('.carousel').carousel({pause:'false', interval: false});
                                    $('.carousel').carousel('next');
                            }
                        });
                    };

                    function on_update(args) {
                        update(args[0]);
                    }

                    session.subscribe('tv.putowce.update', on_update);
                };

                connection.open();

            });

            function compare_timetuples(left, right) {
                for (i = 0, l = left.length; i < l; i++) {
                    temp = left[i] > right[i] ? 1 : left[i] < right[i] ? -1 : 0;
                    if (temp === 0) {
                        continue;
                    } else {
                        break;
                    }
                }
                return temp;
            }

            function slide_to_next(current) {
                var found = false,
                    candidate = current;
                while (!found) {
                    candidate = $(candidate).next();
                    if (!candidate.length) {
                        candidate = $('.item:not(.placeholder)').first()
                    }
                    id = parseInt($(candidate).attr('data-id'));
                    cdata = main_queue[id];
                    now = new Date();
                    time = [now.getHours(), now.getMinutes(), now.getSeconds()];
                    if (cdata.display_after && cdata.display_before && (compare_timetuples(cdata.display_after, time) != -1 ||compare_timetuples(time, cdata.display_before) != -1)) {
                        console.log('[id=' + id + '] display_before/after');
                        continue;
                    }
                    time = [now.getFullYear(), now.getMonth(), now.getDate(), now.getHours(), now.getMinutes(), now.getSeconds()];
                    if (cdata.valid_since && compare_timetuples(cdata.valid_since, time) != -1) {
                        console.log('[id=' + id + '] !valid_since');
                        continue;
                    }
                    if (cdata.valid_until && compare_timetuples(time, cdata.valid_until) != -1) {
                        console.log('[id=' + id + '] !valid_until');
                        continue;
                    }
                    if (cdata.week_days_bits && !(cdata.week_days_bits & (1 << (7 - (now.getDay() ? now.getDay() : 7))))) {
                        console.log('[id=' + id + '] now.day not in week_days');
                        continue;
                    }
                    found = true;
                    if (candidate.attr('data-id') == $(current).attr('data-id')) {
                        break;
                    }
                }
                if (found) {
                    console.log("Sliding to id=" + id);
                    $('.carousel').carousel(id+1);
                } else {
                    console.log("No proper slide to show. Falling back to placeholder");
                    $('.carousel').carousel(0);
                }
                if ($(current).attr('data-type') == 'video') {
                    $(current).children('video').get(0).pause();
                    $(current).children('video').get(0).currentTime = 0;
                }
            };

            $('.carousel').on('slid.bs.carousel', function (e) {
                var duration = $(this).find('.active').attr('data-interval');
                if ($(e.relatedTarget).attr('data-type') == 'video') {
                    $(e.relatedTarget).children('video').get(0).play();
                }
                if ($(e.relatedTarget).hasClass('placeholder')) {
                    duration = 60*1000;
                } else if (!duration) {
                    duration = 10000;
                }
                $('.carousel').carousel('pause');
                console.log("Sliding in " + duration/1000 + " seconds");
                timeout = setTimeout(function(){slide_to_next(e.relatedTarget)}, duration);
                $('img.scale').imageScale();
            })
        </script>
    </body>
</html>
