<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="Krzysiu i Lorek">
        <!--<link rel="icon" href="../../favicon.ico"> -->

        <title>Putowce TV</title>

        <!-- Bootstrap-->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/css/client.css" rel="stylesheet">
        <link href="/static/css/carousel.css" rel="stylesheet">

    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">PUTOWCE TV</a>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="starter-template">
                <div id="myCarousel" class="carousel">
                    <!-- Indicators -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active" data-interval="3000">
                            <img class="first-slide" src="http://www.put.poznan.pl/sites/default/files/acquia_marina_logo.png" alt="First slide">    
                            <div class="container">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div><!-- /.container -->

        <footer class="footer navbar-inverse">
            <div>
                <div class="col-xs-2">                
                    <canvas id="clock"></canvas>
                    <script>
                        var context;
                        var d;
                        var str;
                        function getClock()
                        {

                            //Get Current Time
                            d = new Date();
                            str = prefixZero(d.getHours(), d.getMinutes(), d.getSeconds());

                            //Get the Context 2D or 3D
                            context = clock.getContext("2d");
                            context.clearRect(0, 0, 400, 200);
                            context.font = "70px Arial";
                            context.fillStyle = "grey";
                            context.fillText(str, 0, 125);

                        }

                        function prefixZero(hour, min, sec)
                        {
                            var curTime;
                            if(hour < 10)
                                curTime = "0"+hour.toString();
                            else
                                curTime = hour.toString(); 

                            if(min < 10)
                                curTime += ":0"+min.toString();                           
                            else
                                curTime += ":"+min.toString();  

                            if(sec < 10)
                                curTime += ":0"+sec.toString();                           
                            else
                                curTime += ":"+sec.toString();  
                            return curTime;
                        }

                        setInterval(getClock, 1000);
                    </script>
                </div>
                <div class="col-xs-10">
                    <div class="marquee"></div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/js/jquery-1.11.3.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/autobahn.min.js"></script>
        <script src="/static/js/jquery.marquee.min.js"></script>
        <script>
            $(function() {

                var connection = new autobahn.Connection({
                    url: "{{ conn_data.url }}",
                    realm: "{{ conn_data.realm }}"});

                connection.onopen = function (session) {

                    session.call('tv.putowce.retrieve').then(update);

                    function update(queues) {
                        queues.forEach(function(queue) {
                            switch (queue.name){
                                case 'messages':
                                    data = [];
                                    queue.items.forEach(function(item){
                                        data.push(item.message);
                                    });
                                    $('.marquee').html(data.join(" &bull; "))
                                        .marquee({duration: $(this).outerWidth()/0.2, gap: 100, duplicated: true});
                                    break;
                                case 'main_queue':
                                    queue.items.forEach(function(item){
                                        console.log(item);
                                        display_time = (item.display_time)*1000;
                                        switch(item.type){
                                            case 'image':
                                                $('.carousel-inner').append('<div class="item" data-interval="' + display_time + '"> <img class="second-slide" src=' + item.url +'>   </div>');
                                                break;
                                            case 'video':
                                                $('.carousel-inner').append('<div class="item" data-interval="' + display_time + '"> <video class="second-slide" autoplay loop> <source src='+ item.url +'></div>');
                                                break;
                                            case 'website':
                                                $('.carousel-inner').append('<div class="item" data-interval="' + display_time + '"> <iframe class="second-slide" src='+ item.url +'></iframe></div>');
                                                break; 
                                        }
                                    });
                                    $('.carousel').carousel({pause:'false'});
                            }
                        });
                    };
                    function on_update(args) {
                        update(args[0]);
                    }

                    session.subscribe('tv.putowce.update', on_update);
                };

                connection.open();

            });

            var t;

            var start = $('#myCarousel').find('.active').attr('data-interval');
            t = setTimeout("$('#myCarousel').carousel({interval: 1000});", start-1000);

            $('#myCarousel').on('slid.bs.carousel', function () {   
                clearTimeout(t);  
                var duration = $(this).find('.active').attr('data-interval');

                $('#myCarousel').carousel('pause');
                t = setTimeout("$('#myCarousel').carousel();", duration-1000);
            })

        </script>
    </body>
</html>
