{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		{% from "_form.html" import render_field %}
			<form method="POST" action="/d/{{ item.id }}">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Usuwanie elementu {{ item.id }}.</h3>
					</div>
					<div class="panel-body">
					Czy na pewno chcesz usunąć element {{ item.id }}. ({{ item.get_type_display() }}, {{ item.short_name() }})?
					</div>
					<div class="panel-footer"><button class="btn btn-danger" type="submit" name="confirm" value="1">Zatwierdź</button></div>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}