{% extends "base.html" %}
{% block content %}
        <div id="wrapper">
            <div id="sidebar-wrapper" class="col-md-1">
                <div id="sidebar">
                    <ul class="nav list-group">
                        <li>
                            <a class="list-group-item" href="/a/{{ queue.name }}"><i class="icon-home icon-1x"></i>Dodaj element</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="main-wrapper" class="col-md-11 pull-right">
                <div id="main">
                    <div id="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">Kolejność wyświetleń</h4>
                        </div>
                        </br>
                    <div id="sortable1" class="list-group">
                        {% for item in queue.items %}
                        <div id="queue-{{ item.id }}" class="list-group-item">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ item.id }}" aria-expanded="true" aria-controls="collapse2">Item {{ item.id }}</a>
                            <div id="collapse{{ item.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ item.id }}">
                                <table class="table table-bordered table-striped" style="clear: both">
                                {% if item.type == 'message' %}
                                    <tr>
                                        <td width="30%">Tekst:</td>
                                        <td width="70%"><a href="#" data-name="message" data-type="textarea" data-pk="{{ item.id }}" data-title="Tekst" data-placeholder="Required" class="editable editable-click">{{ item.message }}</a></td>
                                    </tr>
                                {% elif item.type in ('image', 'video', 'website') %}
                                    <tr>
                                        <td width="30%">Link:</td>
                                        <td width="70%"><a href="#" data-type="text" data-pk="{{ item.id }}" data-name="url" data-title="Link" data-placeholder="Required" class="editable editable-click">{{ item.url }}</a></td>
                                    </tr>
                                {% endif %}
                                {{ item.as_dict() }}
                                    <tr>
                                        <td width="30%">Wyświetlanie od:</td>
                                        <td width="70%"><a href="#" id="dob" data-type="combodate" data-value="1984-05-15" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="{{ item.id }}" data-title="Select Date of birth" class="editable editable-click" style="display: inline;">15/05/1984</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="30%">Wyświetlanie do:</td>
                                        <td width="70%"><a href="#" id="do1" data-type="combodate" data-value="1984-05-15" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="{{ item.id }}" data-title="Wyświetlanie do" class="editable editable-click" style="display: inline;">15/05/1984</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="30%">Wyświetlanie w godzinach:</td>
                                        <td width="70%"><a href="#" data-type="combodate" data-value="" data-format="HH:mm" data-viewformat="HH:mm" data-template="HH:mm" data-pk="{{ item.id }}" data-name="display_after" data-title="Wyświetlanie w godzinach" class="editable editable-click" style="display: inline;"></a> - <a href="#" data-type="combodate" data-value="" data-format="HH:mm" data-viewformat="HH:mm" data-template="HH:mm" data-pk="{{ item.id }}" data-name="display_before" data-title="Wyświetlanie w godzinach" class="editable editable-click" style="display: inline;"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="30%">Usuń:</td>
                                        <td width="70%"><a href="/d/{{ item.id }}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Usuń</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
    <!-- script references -->
        $(function() {
            $( "#sortable1" ).sortable({
                connectWith: ".connectedSortable",
                update: function (event, ui) {
                    var data = $(this).sortable('serialize');
                    $.ajax({
                        data: data,
                        type: 'POST',
                        url: '/o/{{ queue.name }}'
                    });
                }
            }).disableSelection();
            $.fn.editable.defaults.mode = 'inline';
            $('.editable').editable({});
        });

</script>
{% endblock %}